<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%X{traceToken}] %-5level %logger{36} - %msg%n</Property>
        <Property name="CONSOLE_PATTERN">%d{HH:mm:ss.SSS} [%t] [%highlight{%X{traceToken}}{CYAN}] %highlight{%-5level}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=white} %logger{36} - %msg%n</Property>
        <Property name="LOG_DIR">./logs</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${CONSOLE_PATTERN}"/>
        </Console>

        <!-- Info Log File - Contains INFO and above -->
        <RollingFile name="InfoFile" fileName="${LOG_DIR}/info.log"
                     filePattern="${LOG_DIR}/info-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <!-- Error Log File - Contains ERROR and FATAL only -->
        <RollingFile name="ErrorFile" fileName="${LOG_DIR}/error.log"
                     filePattern="${LOG_DIR}/error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <LevelRangeFilter minLevel="ERROR" maxLevel="FATAL" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <!-- Debug Log File - Contains DEBUG and above -->
        <RollingFile name="DebugFile" fileName="${LOG_DIR}/debug.log"
                     filePattern="${LOG_DIR}/debug-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <LevelRangeFilter minLevel="DEBUG" maxLevel="FATAL" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="500MB"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>

        <!-- Async Appenders for better performance -->
        <Async name="AsyncConsole">
            <AppenderRef ref="Console"/>
        </Async>
        <Async name="AsyncInfoFile">
            <AppenderRef ref="InfoFile"/>
        </Async>
        <Async name="AsyncErrorFile">
            <AppenderRef ref="ErrorFile"/>
        </Async>
        <Async name="AsyncDebugFile">
            <AppenderRef ref="DebugFile"/>
        </Async>
    </Appenders>

    <Loggers>
        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="AsyncConsole"/>
            <AppenderRef ref="AsyncInfoFile"/>
            <AppenderRef ref="AsyncErrorFile"/>
            <AppenderRef ref="AsyncDebugFile"/>
        </Root>

        <!-- Application Logger - DEBUG level -->
        <Logger name="com.phonestore" level="DEBUG" additivity="false">
            <AppenderRef ref="AsyncConsole"/>
            <AppenderRef ref="AsyncInfoFile"/>
            <AppenderRef ref="AsyncErrorFile"/>
            <AppenderRef ref="AsyncDebugFile"/>
        </Logger>

        <!-- Spring Framework Loggers -->
        <Logger name="org.springframework" level="WARN"/>
        <Logger name="org.springframework.security" level="WARN"/>
        <Logger name="org.springframework.web" level="WARN"/>

        <!-- Hibernate/JPA Loggers -->
        <Logger name="org.hibernate" level="WARN"/>
        <Logger name="org.hibernate.SQL" level="DEBUG"/>
        <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>

        <!-- Database Loggers -->
        <Logger name="com.zaxxer.hikari" level="WARN"/>

        <!-- Jackson Loggers -->
        <Logger name="com.fasterxml.jackson" level="WARN"/>

        <!-- Third-party Loggers -->
        <Logger name="io.jsonwebtoken" level="WARN"/>
    </Loggers>
</Configuration>
